$font-nunito: Nunito;
$font-Montserrat: Montserrat;
$header-width: 30%;
$header-heigth: 100vh;
$text-center: center;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
  color: #EDF0F5;
}
.container {
  width: 100%;

}
.grid-container{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header"
             "main"
             "footer";
}

.header{
  grid-area: header;
  position: relative;
  display: flex;
  
}

.logo{
  position: relative;
  min-height: $header-heigth;
  min-width: $header-width;
  
  &-text{
    position: relative;
    width: 486px;
    height: 100px;
    left: 180px;
    top: 200px;

    &__item{
      position: relative;
      font-family: $font-Montserrat;
      font-size: 54px;
      font-weight: 900;
      
    }
  
    &__item:nth-child(2) {
      left: -15px;
      background-color: #C7A17A;
      color: #FFFFFF;
    }
  }
  &__img{
    position: relative;
    left: 187.29px;
    top: 75.64px
  }
}

.img{
  min-height: $header-heigth;
  min-width: 30%;
  background: url(./IMG/preview.png);
}

.side-menu{
  min-height: $header-heigth;
  min-width: $header-width;
  background-color: #415167;

  &__orders-count{
    position: relative;
    left: 25%;
    top: 10%;
    background-color: #C7A17A;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    
  }

  &__orders-button{
    position: relative;
    left: 20%;
    top: 10%;
    background: url(./IMG/shopping-cart.png);
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    border: 0;
  }
}

.navigation {
  position: relative;
  left: 20%;
  top: 20%;
  font-family: $font-nunito;
  font-size: 20px;
  color: #EDF0F5;
}

.navigation_list {
  list-style: none;
  font-weight: 300;
  opacity: 0.5;
  &__item{
    padding: 100px;
  }
}

.main{
  grid-area: main;
}

.coffee-component{
  margin: 100px;
  &__text{
    text-align: $text-center;
    font-family: $font-nunito;
    color: #415167;
  }
  &__title{
    text-align: $text-center;
    font-family: $font-Montserrat;
    color: #415167;
  }
}

.features-container{
  display: flex;
  justify-content: space-around;
}

.feature{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px;

  &__img{
    width: 100px;
    height: 100px;
  }

  &__title{
    text-align: $text-center;
    font-family: $font-nunito;
    font-weight: 700;
  }

  &__description{
    max-width: 200px;
    font-family: $font-nunito;
    font-weight: 300;
  }
}

.coffee-menu{
  min-height: 700px;
  width: 100%;
  background: linear-gradient(to right, #415167 30%,white 30%,white 100%);
}

.coffe-menu-container{
  display: flex;
  flex-wrap: wrap;
}

.menu-item{
  transform: translate(10%);
  display: flex;
  width: 400px;
  height: 250px;
  overflow: hidden;
  background-color: #EDF0F5;
  margin: 20px;

  &__img{
    width: 200px;
  }
  

  &__price{
    color: #C7A17A;
    font-family: $font-nunito;
    font-weight: 600;
    font-size: 20px;
  }

  &__title{
    font-family: $font-nunito;
    font-weight: 700;
    font-size: 24px;
  }

  &__description{
    padding: 20px 0;
    font-family: $font-nunito;
    font-weight: 300;
    font-size: 16px;
  }

  &__purchase-btn{
    background-color: #C7A17A;
    color: #F9FBFF;
    border: 0px;
    border-radius: 10px;
    font-family: $font-nunito;
    font-weight: 700;
    font-size: 16px;
  }

  &__info{
    padding: 0 10px;
    font-family: $font-nunito;
    font-weight: 500;
    font-size: 16px;
  }
  &__wrapper{
    justify-self: center;
  }
}

.footer{
  grid-area: footer;
}