$font-nunito: Nunito;
$font-Montserrat: Montserrat;
$header-width: 30%;
$header-heigth: 70vh;
$text-center: center;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
  color: #EDF0F5;
}
.container {
  width: 100%;
  overflow: hidden;

}
 .grid-container{
   display: grid;
   grid-template-rows: auto;
   grid-template-areas: "header"
              "main"
            "footer";
 }

.header{
  grid-area: header;
  position: relative;
  display: flex;
  justify-content: end;
}

.logo{
  position: relative;
  min-height: $header-heigth;
  min-width: $header-width;
  
  &-text{
    position: relative;
    width: 486px;
    height: 100px;
    left: 40%;
    top: 30%;

    &__item{
      position: relative;
      font-family: $font-Montserrat;
      font-size: 54px;
      font-weight: 900;
      
    }
  
    &__item:nth-child(2) {
      left: -15px;
      background-color: #C7A17A;
      color: #FFFFFF;
      
    }
  }
  &__img{
    position: relative;
    left: 187.29px;
    top: 75.64px
  }
}

.img{
  min-height: $header-heigth;
  min-width: 40%;
  background: url(./IMG/preview.png) no-repeat;
}

.side-menu{
  min-height: $header-heigth;
  min-width: $header-width;
  background-color: #415167;

  &__orders-count{
    position: relative;
    display: flex;
    justify-content: center;
    left: 25%;
    top: 10%;
    background-color: #C7A17A;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 0;
  }

  &__orders-button{
    position: relative;
    left: 20%;
    top: 10%;
    background: url(./IMG/shopping-cart.png);
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    border: 0;

    &::after {
      content: '2';
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #C7A17A;
      color: #FFFFFF;
      border-radius: 50%;
      font-family: $font-nunito;
      font-weight: 300;
      font-size: 14px;
      width: 25px;
      height: 25px;
      margin-right: 0;
      right: -30px;
      top: -30px;

    }
  }
}

.navigation {
  position: relative;
  left: 20%;
  top: 20%;
  font-family: $font-nunito;
  font-size: 20px;
  color: #EDF0F5;
  &__title{
    font-family: $font-nunito;
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
  }
}

.navigation-list {
  list-style: none;
  font-weight: 300;
  opacity: 0.8;

  &__item {
    padding: 20px 0;
  }
}

.main{
  grid-area: main;
}

.coffee-component{
  margin: 100px;
  &__text{
    text-align: $text-center;
    font-family: $font-nunito;
    color: #415167;
  }
  &__title{
    text-align: $text-center;
    font-family: $font-Montserrat;
    color: #415167;
  }
}


.features-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px;

  &__img{
    width: 100px;
    height: 100px;
  }

  &__title{
    text-align: $text-center;
    font-family: $font-nunito;
    font-weight: 700;
  }

  &__description{
    max-width: 200px;
    font-family: $font-nunito;
    font-weight: 300;
  }
}

.coffee-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  width: 100%;
  background: linear-gradient(to right, #415167 30%,white 30%,white 100%);

  &__paragraph{
    font-family: $font-nunito;
    font-weight: 600;
    color: #415167;
  }

  &__title{
    font-family: $font-Montserrat;
    font-weight: 900;
    font-size: 30px;
    color: #415167;
  }

  
}

.coffee-menu-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  &__btn {
    position: absolute;
    top: 45%;
    right: 0%;
    transform: translate(-50%,0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0px;
    background-color: #C7A17A;
    z-index: 1;
    color: white;
  }
}

.menu-item-info {
  &__price{
    color: #C7A17A;
    font-family: $font-nunito;
    font-weight: 600;
    font-size: 20px;
  }

  &__title{
    font-family: $font-nunito;
    font-weight: 700;
    font-size: 24px;
  }

  &__description{
    padding: 20px 0;
    font-family: $font-nunito;
    font-weight: 300;
    font-size: 16px;
  }

  &__purchase-btn{
    background-color: #C7A17A;
    color: #F9FBFF;
    border: 0px;
    border-radius: 50px;
    font-family: $font-nunito;
    font-weight: 700;
    font-size: 16px;
    width: 101px;
    height: 30px;
  }

  &__info{
    padding: 0 10px;
    font-family: $font-nunito;
    font-weight: 500;
    font-size: 16px;
  }
}

.menu-item{
  display: flex;
  width: 500px;
  height: 250px;
  overflow: hidden;
  background-color: #EDF0F5;
  margin: 20px;

  &__img{
    width: 200px;
    &--opacity{
      opacity: 0.5;
    }
    &--shadow{
      box-shadow: -10px -9px 45px -5px rgba(255, 255, 255, 0.6);
    }
  }

  &--opacity{
    position: relative;
    justify-self: flex-end;
    display: flex;
    height: 250px;
    overflow: hidden;
    background-color: #EDF0F5;
  }

}

.gift{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__paragraph{
    font-family: $font-nunito;
    font-weight: 600;
    color: #415167;
  }

  &__title{
    font-family: $font-Montserrat;
    font-weight: 900;
    font-size: 30px;
    color: #415167;
  }
}
.giftset{
  display: flex;
  justify-content: center;
  margin: 50px 0;
  width: 80%;
}

.giftset-item{
  width: 40%;
  margin: 0 50px;
  &__price{
    color: #C7A17A;
    font-family: $font-nunito;
    font-weight: 600;
    font-size: 20px;
  }

  &__title{
    font-family: $font-nunito;
    font-weight: 700;
    font-size: 24px;
  }

  &__description{
    padding: 20px 0;
    font-family: $font-nunito;
    font-weight: 300;
    font-size: 16px;
  }

  &__purchase-btn{
    background-color: #C7A17A;
    color: #F9FBFF;
    border: 0px;
    border-radius: 50px;
    font-family: $font-nunito;
    font-weight: 700;
    font-size: 16px;
    width: 101px;
    height: 30px;
    margin-right: 150px;
  }
}

.gifset-info{
  display: flex;
  margin: 50px 0;
}

.gifset-text {
  &__paragraph {
    color: #415167;
    font-family: $font-Montserrat;
    font-weight: 900;
    font-size: 20px;
  }

  &__title {
    color: #415167;
    font-family: $font-nunito;
    font-weight: 300;
    font-size: 20px;
  }
}

.gifset-description{
  display: flex;
  width: 50%;

  &__img {
    width: 50px;
    height: 50px;
  }
}
.giftset-choice{
  display: flex;
  flex-direction: column;
  
  &__btn{
    border: 0;
    width: 88px;
    height: 154px;
    font-family: $font-Montserrat;
    font-weight: 900;
    font-size: 30px;
    color: #415167;

    &--opacity{
      border: 0;
      width: 88px;
      height: 154px;
      font-family: $font-Montserrat;
      font-weight: 900;
      font-size: 30px;
      color: #415167;
      opacity: 0.5;
    }
  }
}

.combo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, white 0, white 70%,#415167 70% );
  &__paragraph {
    color: #415167;
    font-family: $font-nunito;
    font-weight: 600;
    font-size: 20px;
  }

  &__title {
    color: #415167;
    font-family: $font-Montserrat;
    font-weight: 900;
    font-size: 30px;
  }
}

.combo-choice {
  position: relative;
  right: 0%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
 

  &__btn {
    position: absolute;
    transform: translate(-50% 0);
    top: 45%;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0px;
    background-color: #C7A17A;
    z-index: 1;
    color: white;
  }

}

.combo-item {
  position: relative;
  right: -70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  max-width: 400px;
  max-height: 562px;
  margin: 20px;

  &--opacity {
    position: relative;
    right: -70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    max-width: 150px;
    max-height: 562px;
    opacity: 0.5;
    
  }

  
}

.combo-info {
  &__new-price {
    color: #C7A17A;
    font-family: $font-nunito;
    font-weight: 600;
    font-size: 20px;
    margin-right: 30px;
  }

  &__old-price {
    font-family: $font-nunito;
    font-size: 14px;
    text-decoration: line-through;
  }

  &__title{
    font-family: $font-nunito;
    font-weight: 700;
    font-size: 24px;
  }

  &__description{
    padding: 20px 0;
    font-family: $font-nunito;
    font-weight: 300;
    font-size: 16px;
  }

  &__purchase-btn{
    background-color: #C7A17A;
    color: #F9FBFF;
    border: 0px;
    border-radius: 50px;
    font-family: $font-nunito;
    font-weight: 700;
    font-size: 16px;
    width: 101px;
    height: 30px;
    margin-right: 20px;
  }

  &__info{
    padding: 0 10px;
    font-family: $font-nunito;
    font-weight: 500;
    font-size: 16px;
  }
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;

  &__text {
    font-family: $font-nunito;
    font-size: 16px;
    color: #415167;
  }
}

@media screen and (max-width: 1100px){
  div[class$="--opacity"]{
    display: none;
  }

  [class$='__btn'] {
    top:50%;
  }
}

@media screen and (min-width: 1600px) {
  div[class$="--opacity"]{
    display: none;
  }

  .combo-choice {
    justify-content: space-evenly;
  }

  .coffee-menu-container {
    justify-content: space-evenly;
  }

  .img {
    min-width: 25%;
    min-height: 700px;
    height: 700px;
  }

  .header {
    min-height: 700px;
    height: 700px;
  }
  .logo {
    min-height: 700px;
    height: 700px;
  }

  .side-menu {
    min-height: 700px;
    height: 700px;
  }
}



